body
{
    background-color: #1e1f24;
    color: #000000;
    text-align: center;
    font-family: 'Arial';
    font-size: 16px;
    margin: 1em;
    padding: 0;
}
#cabecera
{
    background: #37488b;
    box-shadow: 4px 6px 43px 3px rgba(3, 175, 255, 0.5);
    color: rgb(241, 241, 241);
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #logo
{
    width: 100px;
    vertical-align: middle;
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#cabecera #tagline
{
    margin: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid rgb(41, 0, 221);
    margin: 0 auto;
}
#container h1
{
    font-size: 20xp;
}

#post
{
    background: whitesmoke;
    padding: 1em;
}

